/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #fff;
    font-size: 16px;
}

/* Remove text-shadow in selection highlight. These selection rule sets have to be separate. Customize the background color to match your design. */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* A better looking default horizontal rule */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440 */

audio, canvas, iframe, img, svg, video {vertical-align: middle;}

/* Remove default fieldset styles. */

fieldset {border: 0; margin: 0; padding: 0;}

/* Allow only vertical resizing of textareas. */

textarea {resize: vertical;}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}


/* COLOR NOTE ------------------------------------------

#6666ff / rgb(102,102,255) / bright purple (links)
#eeedff / rgb(238,237,255) / light blue site bg
#00bd5f / rgb(0,189,95) / green site text
#ff6294 / rgb(255,98,148) / warm pink (index page links)
#ff14f6 / rgb(255,20,246) / bright pink (current page on nav)
#e2ff00 / rgb(226,255,0) / fluorescent green/yellow
#5831b3 / rgb(88,49,179) / purple index bg

*/


/* GENERAL ------------------------------------------ */

body {
	background: #eeedff;
	color: #00bd5f;
	font-family:'Arial', sans-serif;
}

nav {
	display: block;
	margin: 0;
	padding: 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}
    @media screen and (max-width: 800px) {
	    nav {
            font-size: 1.2em;
            line-height: 1.3em;
        }
    }
    
    
/* LINKS ------------------------------------------ */

a:link {color:#00bd5f; text-decoration: none; border-bottom: 1px solid #00bd5f;}     
a:visited {color:#00bd5f; text-decoration: none; border-bottom: 1px solid #00bd5f;} 
a:hover {color:#6666ff; text-decoration: none; border-bottom: 1px solid #6666ff;}  
a:active {color:#ffff88; text-decoration: none; border-bottom: 1px solid #ffff88;}

.index a:link {color:#ff6272; text-decoration: none; border-bottom: none;}     
.index a:visited {color:#ff6272; text-decoration: none; border-bottom: none;} 
.index a:hover {color:#6666ff; text-decoration: none; border-bottom: 1px solid #6666ff;}  
.index a:active {color:#ffff88; text-decoration: none; border-bottom: none;}

nav a:link, nav a:visited {color:#6666ff; text-decoration: none; border-bottom: none;}
nav a:hover {border-bottom: 1px solid #6666ff;}
nav a:active {color:#ffff88; text-decoration: none; border-bottom: none;}

.index .active {
	color: #6666ff!important;
	border-bottom: none!important;
	cursor: text;
    background-color: rgb(226,255,0,0)!important;
}

nav .active {
	color: #ff6272!important;
	border-bottom: none!important;
	cursor: text;
	background-color: #ffff88!important;
}


/* MAIN TEXT STYLES ------------------------------------------ */

/** h1 {
	display: block;
	margin: 0;
	padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    color: #ACACAC;
    letter-spacing: 2px;
    text-transform: uppercase;
} **/

h2 {
	display: block;
	margin-top: 30px;
	padding: 0;
	font-size: 1.5em;
    font-weight: 500;
    line-height:1.5em;
}

h3 {
	margin: 2em 0 1em 0;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5em;
}

h4 {
	margin: 1.5em 0 .5em 0;	
    font-size: 1em;
    font-weight: 500;
    line-height: 1.1em;
}

p {
	display: block;
	margin: 0;
    font-weight: 400;
	line-height: 1.5em;
}

ul {
	display: block;
	list-style-type: none;
	text-align: left;
	clear: left;
}

li {
	display: block;
	float: left;
}


/* BASIC POSITIONING ------------------------------------------ */

.container {
    display: block;
	margin: 0 auto;
    max-width: 60em;      /* 960px/16px = 60em */
    }
    @media screen and (max-width: 800px) {
		.container {
		    width: 90%;
            margin: 0 5%;
            padding: 10px 0;
        }
    }

header, footer {
	padding: 20px 0;
}
    @media screen and (max-width: 800px) {
		header, footer {
            padding: 10px 0;
        }
    }

/* COLUMN LAYOUTS ------------------------------------- */

.gallery-container {
    display: block;
    float: left;
    width: 100%;
    padding: 2em 0;

}

/* one-column layout */

.onecolumn-container {
    display: flex;
    flex-direction: column;
    }
    @media screen and (max-width: 800px) {
    .onecolumn-container {
    } 
}

/* two column flex layout */

.twocolumn-container {
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    }
    @media screen and (max-width: 800px) {
    .twocolumn-container {
    flex-direction: column;
    } 
}

.two-1 {order: 1; flex-basis: 48%;}
.two-2 {order: 2; flex-basis: 48%;}

/* three column flex layout */

.threecolumn-container {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    }
    @media screen and (max-width: 800px) {
    .threecolumn-container {
        flex-direction: column;
    } 
}

.three-1 {order: 1; flex-basis: 32%;}
.three-2 {order: 2; flex-basis: 32%;}
.three-3 {order: 3; flex-basis: 32%;}

/* images */

.gallery-image {margin-bottom: 2em;}
.gallery-image img {width: 100%; height: auto;}


/* TEXT PAGE LAYOUT ------------------------------------- */

.text {
	display: block;
	float: left;
	width: 70%;      /* 620px/960px = .64583333 */
    }
    @media screen and (max-width: 800px) {
	    .text {
		    float: none;
            width: 90%;
        }
    }


/* INDEX PAGE ------------------------------------------------------ */

.index ul {
    margin: 0;
	padding: 20px 0;
}
    @media screen and (max-width: 800px) {
        .index ul {
            padding: 15px;
        }
    }

.index li {
	float: none;
	padding-bottom: 10px;
}


/* FULL BG IMAGE OR COLOR (Former index, not in use) ------------------------------------------ */

body.full {background: url('../img/28.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
body.full-color {background: #5831b3;}


/* GRADIENT BG (FOR NATUREGIFMANIFESTO) ------------------------------------------ */

.manifesto {background: linear-gradient(105deg, rgba(118, 203, 218, 1), rgba(243, 133, 140, 1));}


/* ADDITIONAL TEXT STYLES ------------------------------------------ */

p.copyright {
color: #999;
font-size: .8em;
}

.slide-caption {
	margin-top: 5px;
}

.text p {
	margin: 10px 0;
}

.credit {
	font-size: .8em;
}

p.date {
	margin: 3em 0 0 0;
	font-weight: 700;
	color: #ACACAC;
}

h3.ital {
    font-weight: 500;
    font-style: italic;
}

.no-underline {border-bottom: none;}

.strong {font-weight: 400;}

.italic {font-style: italic;}

.footnote {padding-top: 30px; font-size: .9em;}

/* newhive header */

.gallery-container h3 {
    margin: .5em 0 1em 0;
	padding-left: 0;
	text-align: left;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.1em;
}

/* Manifesto text and paragraph */

.manifesto-container {
    margin: 0 6em;
}

.manifesto-container p {
    margin-bottom: 1em;
}

/* MAILCHIMP FORM ------------------------------------------ */

#mc_embed_signup {background:#fff; clear:left; font:14px 'IBM Plex Serif', serif; font-weight: 400; }
#mc_embed_signup form {
	padding: 20px 0 10px 0!important;
	text-align: left!important;
}

#mc_embed_signup .button {
	font-family: 'IBM Plex Serif', serif;
	font-weight: 300!important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#mc_embed_signup .email {
	font-family:'IBM Plex Serif', serif!important;
	font-weight: 300;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}