---
---

/* COLOR NOTE ------------------------------------------

#6666ff / rgb(102,102,255) / bright purple (links)
#eeedff / rgb(238,237,255) / light blue site bg
#00bd5f / rgb(0,189,95) / green site text
#ff6272 / red (index page links)
#b5ffda / pale green

*/

/* RESET ------------------------------------------ */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; 
}

/* GENERAL ------------------------------------------ */

body {
    font: 400 16px/1.5 "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: #eeedff;
	color: #00bd5f;
}
    @media screen and (max-width: 850px) {
	    body {
            font-size: 1.2em;
            line-height: 1.3em;
        }
    }

nav {
	display: block;
	margin: 0;
	padding: 0;
}   
    
/* LINKS ------------------------------------------ */

/* body */

a:link {color:#00bd5f; text-decoration: none; border-bottom: 1px solid #00bd5f;}     
a:visited {color:#00bd5f; text-decoration: none; border-bottom: 1px solid #00bd5f;} 
a:hover {color:#6666ff; text-decoration: none; border-bottom: 1px solid #6666ff;}  
a:active {color:#b5ffda; text-decoration: none; border-bottom: 1px solid #ffff88;}

/* homepage nav */

.index a:link {color:#ff6272; text-decoration: none; border-bottom: none;}     
.index a:visited {color:#ff6272; text-decoration: none; border-bottom: none;} 
.index a:hover {color:#6666ff; text-decoration: none; border-bottom: 1px solid #6666ff;}  
.index a:active {color:#b5ffda; text-decoration: none; border-bottom: none;}

.index .active {
	color: #6666ff!important;
	border-bottom: none!important;
	cursor: text;
    background-color: rgb(226,255,0,0)!important;
}

/* main nav */

nav a:link, nav a:visited {color:#6666ff; text-decoration: none; border-bottom: none;}
nav a:hover {border-bottom: 1px solid #6666ff;}
nav a:active {color:#b5ffda; text-decoration: none; border-bottom: none;}

nav .active {
	color: #ff6272!important;
	border-bottom: none!important;
	cursor: text;
	background-color: #b5ffda!important;
}

/* removes underline on linked images */

.gallery-image a:link {border-bottom: none;} 
.gallery-image a:visited {border-bottom: none;}
.gallery-image a:hover {border-bottom: none;}      
.gallery-image a:active {border-bottom: none;}

/* MAIN TEXT STYLES ------------------------------------------ */

/** h1 {
	display: block;
	margin: 0;
	padding: 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    color: #ACACAC;
    letter-spacing: 2px;
    text-transform: uppercase;
} **/

h2 {
	display: block;
	margin-top: 30px;
	padding: 0;
	font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5em;
}

h3 {
	margin: 2em 0 1em 0;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.5em;
}

h4 {
	margin: 1.5em 0 .5em 0;	
    font-size: 1em;
    font-weight: 500;
    line-height: 1.1em;
}

p {
	display: block;
	margin: 0;
    font-weight: 400;
	line-height: 1.5em;
}

ul {
	display: block;
	list-style-type: none;
	text-align: left;
	clear: left;
}

li {
	display: block;
	float: left;
}

/* BASIC POSITIONING ------------------------------------------ */

.container {
    display: block;
	margin: 0 auto;
    max-width: 60em;      /* 960px/16px = 60em */
    }
    @media screen and (max-width: 850px) {
		.container {
		    width: 90%;
            margin: 0 5%;
        }
    }

header, footer {
	padding: 20px 0;
}
    @media screen and (max-width: 850px) {
		header, footer {
            padding: 10px 0;
        }
    }

/* GALLERY LAYOUTS ------------------------------------- */

.gallery-container {
    display: block;
    float: left;
    width: 100%;
    padding: 2em 0;
}

ul.gallery {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-gap: 25px;
    margin-bottom: 25px;
}

ul.gallery-full {
    display: grid;
	grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 25px;
    margin-bottom: 25px;
}

.gallery li, .gallery-full li {
	display: block;
}

.gallery a, .gallery-full a {
	text-decoration: none;
	border-bottom: none;
	}
	
.gallery img, .gallery-full img {
    width: 100%;
    height: auto;
    object-position: left top;
    object-fit: contain;
	}

/* Gallery Center used for Naturegifmanifesto only */

ul.gallery-center {
    display: grid;
	grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 25px;
    margin-bottom: 25px;
}

.gallery-center img {
    width: 100%;
    height: auto;
    object-position: center!important;
    object-fit: contain;
	}


/* one-column layout */

.onecolumn-container {
    display: flex;
    flex-direction: column;
    }
    @media screen and (max-width: 850px) {
    .onecolumn-container {
    } 
}

/* two column flex layout */

.twocolumn-container {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    }
    @media screen and (max-width: 850px) {
    .twocolumn-container {
    flex-direction: column;
    } 
}

.two-1 {order: 1; flex-basis: 49%;}
.two-2 {order: 2; flex-basis: 49%;}

/* three column flex layout */

.threecolumn-container {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    }
    @media screen and (max-width: 850px) {
    .threecolumn-container {
        flex-direction: column;
    } 
}

.three-1 {order: 1; flex-basis: 32%;}
.three-2 {order: 2; flex-basis: 32%;}
.three-3 {order: 3; flex-basis: 32%;}

/* images */

.gallery-image {margin: 1em 0;}
.gallery-image img {width: 100%; height: auto;}
.screenshot {margin-left: -2em; margin-bottom: -2em;} /* fix for screenshots with transparent backgrounds so they line up okay */
    @media screen and (max-width: 850px) {
        .screenshot {margin-left: -1em; margin-bottom: -1em;}
        }
    @media screen and (max-width: 500px) {
        .screenshot {margin-left: -.5em; margin-bottom: -.5em;}
        }

/* TEXT PAGE LAYOUT ------------------------------------- */

.text {
	display: block;
	float: left;
	width: 70%;      /* 620px/960px = .64583333 */
    }
    @media screen and (max-width: 850px) {
	    .text {
		    float: none;
            width: 100%;
        }
    }

/* HOMEPAGE LAYOUT ------------------------------------------------------ */

.index ul {
    margin: 0;
	padding: 20px 0;
}
    @media screen and (max-width: 850px) {
        .index ul {
            padding: 15px;
        }
    }

.index li {
	float: none;
	padding-bottom: 10px;
}

/* ADDITIONAL TEXT STYLES ------------------------------------------ */

.text p {margin: 10px 0;}

.gallery-caption {margin-top: 5px;}

.credit {font-size: .8em;}

h3.ital {
    font-weight: 500;
    font-style: italic;
}

.no-underline {border-bottom: none;}
.strong {font-weight: 400;}
.italic {font-style: italic;}
.big {font-size: 2em;}
.footnote {padding-top: 30px; font-size: .9em;}

/* Manifesto text and paragraph */

.manifesto-container {
    margin: 0 6em;
}

.manifesto-container p {
    margin-bottom: 1em;
}

/* BACKGROUNDS ------------------------------------------ */

body.full {background: url('../img/28.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
body.full-color {background: #5831b3;}
.white {background: #fff;}

/* gradient for naturegifmanifesto */

.manifesto {background: linear-gradient(105deg, rgba(118, 203, 218, 1), rgba(243, 133, 140, 1));}

/* MAILCHIMP FORM ------------------------------------------ */

#mc_embed_signup {background:#fff; clear:left; font:14px 'IBM Plex Serif', serif; font-weight: 400; }
#mc_embed_signup form {
	padding: 20px 0 10px 0!important;
	text-align: left!important;
}

#mc_embed_signup .button {
	font-family: 'IBM Plex Serif', serif;
	font-weight: 300!important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#mc_embed_signup .email {
	font-family:'IBM Plex Serif', serif!important;
	font-weight: 300;
}

/* HELPER CLASSES ------------------------------------------ */

/* Hide visually and from screen readers */

.hidden {display: none !important;}

/* Hide visually and from screen readers, but maintain layout */

.invisible {visibility: hidden;}