---
---
<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Elisabeth Nicula: Art. Intaglio and Woodcut Prints. Paintings.</title>
{% include meta.html %}
</head>
  <body>
  <div class="container">
	<header>
      <h1>Elisabeth Nicula</h1>
      <h2>intaglio and woodcut prints. some paintings. <a href="index.html">see them</a>.</h2>
    </header> 
    <div class="portfolio">
    	<div class="about-text">
      		<p>Elisabeth Nicula is a printmaker, painter, and <a href="http://wingedanddangerous.com/" target="_blank">graphic designer</a> living in San Francisco, California.</p>
			<p>In her artwork, Elisabeth focuses on the arrangement of forms, color, and emptiness; she aims to create a balance of these elements to convey an impression of boundaries, opposing forces, and unexpected commonality. Outer space and the natural world, mathematics and machinery, cells and microorganisms&mdash;sums and all their component parts&mdash;are continuing sources of inspiration.</p>
			<p>In <em>Where</em>, her current series of woodcut and intaglio prints, Elisabeth combines highly distilled aspects of the San Franciscan landscape with common web iconography, such as map pointers and speech bubbles, to elicit a sense of the complexities of human relationships, emotional and physical.</p>
			<p>Elisabeth's etchings and woodcuts are in private collections, the permanent collections of the Boston Public Library in Boston, Massachusetts and the Brooklyn Art Library in Brooklyn, New York, and have been featured in <a href="http://digboston.com/think/2013/03/black-ink-nave-gallery-annex/" target="_blank"><em>Dig Boston</em></a> magazine. She has shown her work in recent exhibitions at Alley Cat Books Gallery in San Francisco; Cantor Art Gallery in Worcester, Massachusetts; 7 Dunham Gallery in Brooklyn, New York; Stafford Arts Center in Greensboro, North Carolina; the Nave Gallery in Somerville, Massachusetts; and Washington Printmakers Gallery in Silver Spring, Maryland; among others.
</p>
			<p>Last year she curated her first show&mdash;<a href="http://navegallery.org/wp/peer-reviewed-submissions/" target="_blank">Peer-Reviewed Submissions</a>, works with scientific or mathematical themes&mdash;with her pal <a href="http://www.mindhuestudio.com/" target="_blank">Ted Ollier</a> at the Nave Gallery Annex in Somerville.</p> 
			<p>Elisabeth grew up in Norfolk, Virginia. She has a bachelor's degree in philosophy from Duke University in Durham, North Carolina and pursued further study in painting and printmaking at the School of the Museum of Fine Arts, Boston.</p>
			<p>She is a member of the printing cooperative <a href="http://www.graphicartsworkshop.org/" target="_blank">Graphic Arts Workshop</a> in San Francisco, and worked at <a href="http://www.mixitprint.com/" target="_blank">Mixit Print Studio</a> in Somerville from 2006 to 2013.</p>
      	</div>
      	<div class="about-image"><img src="{{ site.baseurl }}/img/printing.jpg" alt="Printing press with plate" width="250" height="250"/></div>
    </div>
    {% include footer.html %}
  </div> <!-- /container -->
  {% include scripts.html %}
  </body>
</html>