---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // ABOUT</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
        {% include header.html %}
				<div class="text">
				
				    <h2>About</h2>
					
					<p>Elisabeth Nicula is an interdisciplinary artist from Norfolk, Virginia. Her work is in conversation with nature: she is interested in the sense of self engendered by landscapes; in observing and depicting the natural world via abstracted scales of space and time; and in poetics and memory. <a href="https://smoothfriend.press/" target="_blank"><strong>Smooth Friend</strong></a> is her new publishing project, and she also self-publishes websites composed of painstakingly-made animated GIFs, video footage, digital drawings, and photography. <a href="https://dioramas.space/" target="_blank"><em><strong>dioramas.space</strong></em></a>, her ongoing project supported by a <a href="https://rhizome.org/editorial/2018/oct/04/announcing-2018-microgrant-awardees/" target="_blank"><strong>grant from Rhizome</strong></a>, is about seeing and being seen by the non-human world, maintenance and tending, and connecting her emotional landscape to the exigencies of ecological disaster.</p>
					
				<p>A funny thing happened in 2017. Elisabeth noticed a molting scrub jay in the backyard and started photographing him. She distrusts the idea of a daily practice but over the course of two years amassed over 30,000 photographs of one bird. <a href="https://frank.fan/" target="_blank">He is gone now</a> and she isn't sure what to do with his corpus.</p>

					
					<h2>Contact</h2>
					<p>Send inquiries of any kind to hi@elisabethnicula.com.</p>
					
					<h2>Newsletter</h2>
				 <form style="padding:0;text-align:left;" action="https://tinyletter.com/elisabethnicula" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/elisabethnicula', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address for occasional news about exhibitions, publications, public talks, etc. Look at the <a href="https://tinyletter.com/elisabethnicula/archive" target="_blank">newsletter archive</a>.</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /><input type="hidden" value="1" name="embed"/> <input type="submit" value="Subscribe" /></p></form>
				 					
					<h2>Writing and Publications</h2>
                    <p><strong>2021</strong> "A Figure That Decomposes," "Ghost Story," and "Notes From Our Last Meeting," a three-part residency for <a href="https://openspace.sfmoma.org/tag/decomposing/" target="_blank">SFMOMA's <em>Open Space</em></a></p>
                    <p><strong>2021</strong> <a href="https://www.facility-mag.com/buy/issue-2" target="_blank">"The Dart"</a>, for <em>Facility Magazine</em></p>
					<p><strong>2021</strong> "Frank's Corpus," <a href="https://openspace.sfmoma.org/2021/03/franks-corpus/" target="_blank">SFMOMA's <em>Open Space</em></a></p>
					<p><strong>2020</strong> "Culture Diary: Elisabeth Nicula," <a href="https://nightlife.substack.com/p/15-elisabeth-nicula-tiktok-beauty" target="_blank"><em>niͥghͪᴛⷮliͥfeͤ</em></a></p>
					<p><strong>2020</strong> Living Room Light Exchange Season 6 Survey, in <a href="http://www.livingroomlightexchange.com/publication/" target="_blank"><em>Rare Earth: The Ground is Not Digital</em></a></p>
					<p><strong>2020</strong> "Under the Road," <a href="https://www.silicamag.com/gallery/pavement/" target="_blank"><em>Silica Magazine</em></a></p>
					<p><strong>2020</strong> "March 27, 2020," in <em>Urgency Reader 2</em>, and reprinted in <em>25 From Urgency Reader 2</em> for the Brooklyn Art Book Fair, <a href="https://queer.archive.work/urgencyreader2/" target="_blank">Queer.Archive.Work</a></p>
                    <p><strong>2019</strong> "Have You Seen This Bird," <a href="https://newlifequarterly.com/everything/dj6wmc43xlm3nacy2hcw5rfg4spfyp" target="_blank"><em>New Life Quarterly</em></a></p>
                    <p><strong>2019</strong> <a href="https://abjectsubli.me/" target="_blank"><em>abjectsubli.me</em></a> (ongoing)</p>
                    <p><strong>2019</strong> <em>Tidewater</em> (unpublished), performed at <a href="http://www.placetalks.online/season5/" target="_blank">PLACE TALKS at the Prelinger Library</a></p>
                    
					<p><strong>2018</strong> <a href="https://dioramas.space" target="_blank"><em>dioramas.space</em></a> (ongoing)</p>
                    <p><strong>2017</strong> "Dioramas," <a href="https://openspace.sfmoma.org/2017/10/dioramas/" target="_blank">SFMOMA's <em>Open Space</em></a></p>

					<p><strong>2017</strong> "California," <em><a href="http://silicamag.com/gallery/california" target="_blank">Silica Magazine</a></em></p>
					<p><strong>2017</strong> "NATUREGIFMANIFESTO," <em><a href="http://www.livingroomlightexchange.com/" target="_blank">Living Room Light Exchange Issue 02, State Change</a></em></p>
					<p><strong>2016</strong> "Artist Elisabeth Nicula's New Collection on 'Climate Anxiety'," <a href="http://www.papermag.com/artist-diary-elisabeth-nicula-1936476814.html" target="_blank"><em>PAPER Magazine</em></a></p>
					<p><strong>2016</strong> "Aspects of Geological Time," instructions for assembling a paper GIF, <a href="http://www.livingroomlightexchange.com/publication/" target="_blank"><em>Living Room Light Exchange Issue 01</em></a></p>
					
					<h2>Selected Exhibitions and Commissions</h2>
					<h4>2021&ndash;2022</h4>
					<p><a href="http://artsubstitute.net/cultivation/index.html" target="_blank"><em>Cultivation</em></a>, for the <a href="https://thewrong.tv/art-was-only" target="_blank">Art was only a substitute for the internet</a> pavilion in the <a href="https://thewrong.tv/" target="_blank">Wrong Biennale</a></p>
					<h4>2019&ndash;2020</h4>
					<p><a href="https://peregrination.info/niculafr/index.html" target="_blank"><em>Miss You</em></a>, for the <a href="https://peregrination.info/" target="_blank">Peregrination</a> pavilion in the <a href="https://thewrong.org/2019-2020" target="_blank">Wrong Biennale</a></p>
					<h4>2019</h4>
					<p><a href="https://blackandwhiteprojects.com/2019/04/19/elisabeth-nicula-already-underwater/" target="_blank">Elisabeth Nicula: Already Underwater</a>, Black & White Projects, San Francisco, CA</p>
					<h4>2018</h4>
					<p><a href="https://blackandwhiteprojects.com/2018/02/24/5-years/" target="_blank">New Work: A Retrospective</a>, Black & White Projects, San Francisco, CA</p>
					<h4>2017</h4>
					<p><a href="https://blackandwhiteprojects.com/2017/04/20/air-nicula/" target="_blank">Dioramas</a> solo show and residency, Black & White Projects, San Francisco, CA</p>
					<p><a href="http://rsfprojects.com/byobeamer" target="_blank">Bring Your Own Beamer</a>, R/SF Projects, San Francisco, CA</p>
					<h4>2016</h4>
					<p><a href="http://geologicaltime.net/" target="_blank"><em>geologicaltime.net</em></a> for <a href="http://theinternet.show/" target="_blank">Internet! A Retrospective</a>, SPUR, San Francisco, CA</p>
					<p><a href="https://www.electricobjects.com/collections/179/aspects-of-geological-time-by-elisabeth-nicula" target="_blank">Aspects of Geological Time (fig. 8 &ndash; 13)</a>, a second series of commissioned videos for <a href="https://www.electricobjects.com/collections" target="_blank">Electric Objects' Art Club</a></p>
					<p><a href="http://newhive.com/elisabeth/fig-3" target="_blank">Aspects of Geological Time (fig. 3)</a> for Relaxation Machine: <a href="http://blog.newhive.com/relaxation-machine-winners-newhive-print-screen/" target="_blank">New Hive</a> + <a href="http://www.printscreenfestival.com/#!relaxation-machine/c1ryg" target="_blank">Print Screen</a> Net.Art Show, Print Screen Festival, Holon, Israel (Jurors Liat Berdugo, Melissa Broder, Lior Zalmanson)</p>
					<p>Substrates: Elisabeth Nicula, Anthony Ryan, and Clare Szydlowski, City Arts Gallery at CCSF, San Francisco, CA</p>
					<p><a href="http://www.proartsgallery.org/event/sl-morse-presents-the-myth-of-sisyphus-by-albert-camus/" target="_blank">Hybrid Series #1</a>, Pro Arts Gallery, Oakland, CA</p>
					<p><a href="https://www.electricobjects.com/collections/68/predictions-by-elisabeth-nicula" target="_blank">Predictions</a>, commissioned video and still works for <a href="https://www.electricobjects.com/collections" target="_blank">Electric Objects' Art Club</a>. Read the <a href="http://zine.electricobjects.com/interviews/elisabeth-nicula" target="_blank">interview</a>.</p>
					<p><a href="http://www.thegalallery.com/follow-for-unfollow" target="_blank">Follow for Unfollow</a>, The Galallery, San Francisco, CA</p>
					<p><a href="http://www.sfzinefest.org/" target="_blank">San Francisco Zine Fest</a></p>
					<p>Prints: California Society of Printmakers, Isabelle Percy West Gallery, Oakland, CA (Juror Karen Kunc)</p>
					<p><a href="https://www.artspan.org/events-programs/exhibitions" target="_blank">Artspan Group Exhibition</a>, stARTup Art Fair, San Francisco, CA</p>
					<h4>2015</h4>
					<p><a href="http://fusion.net/" target="_blank">Fusion's</a>  <a href="http://realfuturefair.com/" target="_blank">Real Future Fair</a>, San Francisco, CA<br><em><a href="http://newhive.com/elisabeth/tipping" target="_blank">A Tipping Point</a> won <a href="http://newhive.com/" target="_blank">Newhive's</a> call for #futureart</em></p>
					<p><a href="http://www.sfbike.org/winterfest/art/" target="_blank">Winterfest Art Show</a>, San Francisco, CA<br><em>A benefit auction for the San Francisco Bicycle Coalition</em></p>
					<p>2 Blocks of Art, 66 Sixth, San Francisco, CA</p>
					<p><em>Where</em> solo show, Graphic Arts Workshop Gallery, San Francisco, CA</p>
					<p>Print Exchange: Just a Second, Ground Floor Gallery, Brooklyn, NY</p>
					<p>Pressed, Pacific Art League Main Gallery, Palo Alto, CA (Juror Andrea Voinot)</p>
					<p>ArtSpan's Juried Art Auction, SOMArts Cultural Center, San Francisco, CA</p>
					<p>Impulse, Arc Gallery, San Francisco, CA</p>
					<h4>2014</h4>
					<p>Fragments of Moments, Curated State pop-up show, San Francisco, CA</p>
					<p><em>Where</em> installation, Window Treat Gallery, San Francisco, CA</p>
					<p>ArtLaunch 2014, SOMArts Cultural Center, San Francisco, CA<br>
<em>Selected as a top ten SF open studios artist by jurors <a href="http://artspan.org/artspan/news/2014/10/21/valerie-leavy039s-top-ten-sf-open-studios-artists" target="_blank">Valerie Leavy</a> and <a href="http://artspan.org/artspan/news/2014/10/22/dennis-mcnulty039s-top-ten-sf-open-studios-artists" target="_blank">Dennis McNulty</a></em></p>
					<p>Let This Be a Sign... (Print Exchange 2014), 7 Dunham Gallery, Brooklyn, NY</p>
					<p>New Members Show, Graphic Arts Workshop, San Francisco, CA</p>
					<p>Prints from the Graphic Arts Workshop, Southern Graphics Council International, Alley Cat Books Gallery, San Francisco, CA</p>
					<p>Sketchbook Project 2014, Brooklyn Art Library, Brooklyn, NY, and national tour	</p>
					<h4>2013</h4>
					<p>Rethink Ink: 25 years at the Mixit Print Studio, Cantor Art Gallery, Worcester, MA</p>
					<!--<p>Peer-Reviewed Submissions, Nave Gallery Annex, Somerville, MA</p>-->
					<p>16th Annual National Small Works Exhibition, Washington Printmakers Gallery, Silver Spring, MD (Juror Philippa Hughes)</p>
					<p>Salon 21, Nave Gallery, Somerville, MA (Juror Michelle Fiorenza)</p>
					<p>Black Ink, Nave Gallery Annex, Somerville, MA (Juror Carolyn Muskat)</p>
					<p>Prints, Plates, and Blocks, Stafford Arts Center, Greensboro, NC (Juror Molly Stouten)</p>
					<h4>2012</h4>
					<p>Rethink Ink: 25 years at the Mixit Print Studio, Boston Public Library, Boston, MA</p>
					<p>Printmania, Arts Union, Somerville, MA</p>
					
					<h2>Selected Performances and Talks</h2>
					<p><strong>2021</strong> Art talk for the <a href="https://themaintainers.org/info-maintainers-feb-2021" target="_blank">Information Maintainers</a> (video)</p>
					
					<p><strong>2020</strong> "Have You Seen This Bird," reading and talk with Jordan Karnes, <em>Wolfman New Life Quarterly Issue 6</em> release party, Beauty Supply Arts, Oakland, CA</p>
					
					<p><strong>2019</strong> <em>Tidewater</em>, performed narrative with projected animations, <a href="http://www.placetalks.online/season5/" target="_blank">PLACE TALKS</a>, Prelinger Library, San Francisco, CA</p>
					
                    <p><strong>2019</strong> Guest lecture for Liat Berdugo's Copy Culture class, University of San Francisco, San Francisco, CA</p>
					
					<p><strong>2018</strong> Art talk at <a href="http://www.livingroomlightexchange.com/past-speakers" target="_blank">Living Room Light Exchange</a> with Sanaz Mazinani, Beth Stephens, and Annie Sprinkle, Oakland, CA</p>
					
					<p><strong>2017</strong> Readings and Art for the Human and Non-human Worlds, with Kate Schapira, Javier Arbona, and Maya Weeks, E. M. Wolfman, Oakland, CA</p>
					
					<p><strong>2017</strong> "NATUREGIFMANIFESTO" reading, <em>Living Room Light Exchange Issue 02, State Change</em> release party, with Rick Prelinger, Blinkpopshift, and Joe Veix, The Thing Quarterly, San Francisco, CA</p>
					
					
					<h2>Curation</h2>
					<p><strong>2013</strong> Peer-Reviewed Submissions, Nave Gallery Annex, Somerville, MA (works in all media with mathematical or scientific themes, co-curated with Ted Ollier)</p>
					<h2>Also</h2>
					<p><a href="http://dearmirah.ca/post/105706476740">Must Follow Artists on Tumblr for 2015</a></p>
					<p>Member of the <a href="http://www.caprintmakers.org/" target="_blank">California Society of Printmakers</a></p>
					<p>Former member of the printing cooperative <a href="http://www.graphicartsworkshop.org/" target="_blank">Graphic Arts Workshop</a> in San Francisco, California</p>
					<p>Former member at <a href="http://www.mixitprint.com/" target="_blank">Mixit Print Studio</a> in Somerville, Massachusetts</p>
					<p>Etchings and woodcuts in the permanent collections of the Boston Public Library and the Brooklyn Art Library</p>
					<p><a href="http://digboston.com/think/2013/03/black-ink-nave-gallery-annex/" target="_blank"><em>Dig Boston</em></a></p>
					<!--<p><a href="http://wingedanddangerous.com/" target="_blank">Graphic designer</a> specializing in illustration, identity, and digital projects</p>-->
					<p>Bachelor’s degree in philosophy from Duke University in Durham, North Carolina</p>
					<p>Painting and printmaking at the School of the Museum of Fine Arts, Boston</p>
				</div> <!-- /text -->
				<div class="about-image"><img src="{{ site.baseurl }}/img/about-elisabeth.jpg" alt="elisabeth" width="1000" height="667"/></div>
      	{% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>