---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // DIORAMAS AT BLACK & WHITE PROJECTS</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
        {% include header.html %}
        	<div class="text"><h3><a href="https://blackandwhiteprojects.com/2017/04/20/air-nicula/" target="_blank">Dioramas</a> solo show and residency, Black & White Projects, San Francisco, CA, 2017</h3><p>I love natural history museums and wanted to construct my own dioramas that stretch forwards and backwards through time. I re-deployed animations from <a href="geological-time.html"><em>Aspects of Geological Time</em></a> in an installation that allowed me to experiment with materiality and intent, made use of the gallery's architectural elements, and positioned the viewer in ways that mimicked the acts of looking at nature.</p></div>
	  			
	  			<ul class="folio">
	  				<li class="one"><img src="{{ site.baseurl }}/img/dio-1.gif" alt="Diorama" width="600" height="410" /></li>
	  			</ul>
	  			
        		
        		<ul class="folio">
                    <li class="two"><img src="{{ site.baseurl }}/img/dio-2.png" alt="Blue Diorama" width="800" height="600" /></li>
      		    	<li class="two"><img src="{{ site.baseurl }}/img/dio-3.png" alt="Diorama room view" width="800" height="600" /></li>
	  			</ul>
	  			
	  			<ul class="folio">
	  				<li class="three"><img src="{{ site.baseurl }}/img/dio-6.jpg" alt="big diorama" width="600" height="600" /></li>
                    <li class="three"><img src="{{ site.baseurl }}/img/dio-5.jpg" alt="suspended projector detail" width="800" height="800" /></li>
	  				<li class="three"><img src="{{ site.baseurl }}/img/dio-4.gif" alt="small wood diorama" width="800" height="800" /></li>

	  			</ul>
	  				  			      	
      	{% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>
