---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // SENSE MEMORIES</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
        {% include header.html %}
        	<div class="text"><p>I searched through my hard drive and phone for snapshots, treating my digital stash as a source of found objects &mdash; discrete, frozen moments remembered by my devices. My memories are imperfect and exaggerated but exist in the fullness of an inner life. The GIF animations visualize these abstracted memories. Turning the net-based pieces into screen prints felt like going full circle on the theme. The prints’ halftone dots and even borders recall newspaper photography and polaroids, and reworking the animated elements into still drawings froze them in time again. See all of my sense memories <a href="http://newhive.com/elisabeth/collection/sense-memory" target="_blank">on Newhive</a>.</p></div>
	  			<ul class="folio">
	  				<li class="one"><a href="http://newhive.com/elisabeth/any-time-is-train-time" target="_blank"><img src="{{ site.baseurl }}/img/sm-train.gif" alt="Sense Memory Any Time Is Train Time" width="800" height="457" /><p class="slide-caption"><em>Any Time Is Train Time</em></p></a></li>
	  			</ul>
	  			
	  			<ul class="folio">
	  				<li class="one"><img src="{{ site.baseurl }}/img/sm-crevasse.jpg" alt="Sense Memory Crevasse" width="800" height="589" /><p class="slide-caption"><em>Crevasse</em>, 2016, screenprint, 15" x 11"</p></li>
	  			</ul>
	  			
        		
        		<ul class="folio">
      		    	<li class="two"><a href="http://newhive.com/elisabeth/road/" target="_blank"><img src="{{ site.baseurl }}/img/sm-road.gif" alt="Sense Memory Along the Road" width="800" height="800" /><p class="slide-caption"><em>Along the Road</em></p></a></li>
	  				<li class="two"><a href="http://newhive.com/elisabeth/tipping" target="_blank"><img src="{{ site.baseurl }}/img/sm-tipping.gif" alt="Sense Memory A Tipping Point" width="800" height="800" /><p class="slide-caption"><em>A Tipping Point</em></p></a></li>
	  			</ul>
	  			
	  			<ul class="folio">
      				<li class="three"><a href="http://newhive.com/elisabeth/deep-enough" target="_blank"><img src="{{ site.baseurl }}/img/sm-deep.gif" alt="Sense Memory Deep Enough" width="800" height="800" /><p class="slide-caption"><em>Deep Enough</em></p></a></li>
      				<li class="three"><a href="http://newhive.com/elisabeth/then-now" target="_blank"><img src="{{ site.baseurl }}/img/sm-then.gif" alt="Sense Memory Then and Then and Then and Now" width="800" height="800" /><p class="slide-caption"><em>Then and Then and Then and Now</em></p></a></li>
	  				<li class="three"><a href="http://newhive.com/elisabeth/icarus" target="_blank"><img src="{{ site.baseurl }}/img/sm-icarus.gif" alt="Sense Memory Icarus" width="800" height="800" /><p class="slide-caption"><em>Icarus</em></p></a></li>
	  			</ul>
	  			
	  			<ul class="folio">
      		    	<li class="two"><img src="{{ site.baseurl }}/img/sm-train.jpg" alt="Sense Memory Any Time Is Train Time" width="800" height="589" /><p class="slide-caption"><em>Any Time Is Train Time</em>, 2016, screenprint, 15" x 11"</p></li>
	  				<li class="two"><img src="{{ site.baseurl }}/img/sm-tipping.jpg" alt="Sense Memory Tipping Point" width="800" height="583" /><p class="slide-caption"><em>A Tipping Point</em>, 2016, screenprint, 15" x 11"</p></li>
	  			</ul>
        		
        		<!--<ul class="folio">
	  				<li class="one"><a href="http://newhive.com/elisabeth/where-were-you" target="_blank"><img src="{{ site.baseurl }}/img/sm-where.gif" alt="Sense Memory Where Were You" width="800" height="450" /><p class="slide-caption"><em>Where Were You</em></p></a></li>
	  			</ul>-->
      		
	  			<ul class="folio">
      				<li class="two"><a href="http://newhive.com/elisabeth/day-one" target="_blank"><img src="{{ site.baseurl }}/img/sm-day1.gif" alt="Sense Memory Day One" width="800" height="800" /><p class="slide-caption"><em>Day One</em></p></a></li>
	  				<li class="two"><a href="http://newhive.com/elisabeth/day-two" target="_blank"><img src="{{ site.baseurl }}/img/sm-day2.gif" alt="Sense Memory Day Two" width="800" height="800" /><p class="slide-caption"><em>Day Two</em></p></a></li>
	  			</ul>
	  			
	  			
	  			      	
      	{% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>
