---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // interdisciplinary artist</title>
    	{% include meta.html %}
    </head>
    <body class="full-color">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
            <h1 class="hidden">Elisabeth Nicula // interdisciplinary artist</h1>
            <nav class="index">
                <ul>
                    <li><a href="index.html">Elisabeth Nicula</a></li>
                    <li><a href="https://smoothfriend.press/" target="_blank">Smooth Friend</a> is my experimental publishing project, 2021&ndash;.</li>
                    <li>I wrote three poems about decomposition and art as a columnist for SFMOMA's <em>Open Space</em>: <a href="https://openspace.sfmoma.org/2021/10/a-figure-that-decomposes/" target="_blank">"A Figure That Decomposes,"</a> <a href="https://openspace.sfmoma.org/2021/10/ghost-story/" target="_blank">"Ghost Story,"</a> and <a href="https://openspace.sfmoma.org/2021/11/notes-from-our-last-meeting/" target="_blank">"Notes From Our Last Meeting,"</a> 2021.</li>
                    <li><a href="http://artsubstitute.net/cultivation/index.html" target="_blank"><em>Cultivation</em></a> is a webpage for <a href="https://thewrong.tv/art-was-only" target="_blank">Art was only a substitute for the internet</a>, a pavilion in the Wrong Biennale curated by Andres Manniste, 2021&ndash;2022.</li>
                    <li><a href="https://www.facility-mag.com/buy/issue-2" target="_blank">"The Dart"</a> is a photo essay about the ecology of my apartment bathroom, for <em>Facility</em>, 2021.</li>
                    <li><a href="https://openspace.sfmoma.org/2021/03/franks-corpus/" target="_blank">"Frank's Corpus"</a> is an essay about my photographic archive of bird bodies, for SFMOMA's <em>Open Space</em>, 2021. Robin Sloan wrote about it in his <a href="https://www.robinsloan.com/notes/corpus/" target="_blank">Reading Room newsletter</a> <3.</li>
                    <li>I went to all the 2019&ndash;2020 season Living Room Light Exchange salons, IRL when that was still possible and the last two on the computer, and wrote about what it was like, for <a href="http://www.livingroomlightexchange.com/publication/" target="_blank"><em>Rare Earth: The Ground is Not Digital</em></a>, 2020.</li>
                    <li><a href="https://www.silicamag.com/gallery/pavement/" target="_blank">"Under the Road"</a> is a depaving fantasy with GIFs and armadillo memories, for <em>Silica Magazine</em>, 2020.</li>
                    <li><a href="https://queer.archive.work/urgencyreader2/" target="_blank">"March 27, 2020"</a> is a blog excerpt about an unexpected intimacy of quarantine, in <em>Urgency Reader 2</em>, 2020.</li>
                    
                    <li><a href="https://web.archive.org/web/20201218081241/https://newlifequarterly.com/everything/dj6wmc43xlm3nacy2hcw5rfg4spfyp" target="_blank">"Have You Seen This Bird"</a> is an essay about being friends with a free wild bird, in <em>New Life Quarterly</em>, 2019.</li>
                    
                    <li><a href="https://peregrination.info/niculafr/index.html" target="_blank"><em>Miss You</em></a> is a GIF poem for the Peregrination Pavilion of the Wrong Biennale, 2019&ndash;2020.</li>
                    <li>I gave a visual lecture about <em>Tidewater</em>, my beautiful sinking homeland, at <a href="http://www.placetalks.online/season5/" target="_blank">PLACE TALKS</a> at the Prelinger Library, 2019.</li>
                    <li><a href="https://dioramas.space/21.html" target="_blank"><em>dioramas.space</em></a> is a website for tending to the emotional landscape amidst climate disaster, 2018&ndash;.</li>
                    <li>Earlier I made <a href="dioramas.html"><em>Dioramas</em></a>, an installation about looking, at Black &amp; White Projects, 2017.</li>
                    <li>And before that, <a href="https://openspace.sfmoma.org/2017/10/dioramas/" target="_blank">"Dioramas,"</a> an account of my walks around San Francisco weather, for SFMOMA's <em>Open Space</em>, 2017.</li>
                    <li><a href="http://silicamag.com/gallery/california" target="_blank">"California"</a> is about moving to geological time, for <em>Silica Magazine</em>, 2017.</li>
                    <li><a href="manifesto.html">"NATUREGIFMANIFESTO"</a> is an attempt to make sense of my art practice, for <em>LRLX 02, State Change</em>, 2017.</li>
                    <li><a href="geological-time.html"><em>Aspects of Geological Time</em></a> is a project about the long scale of the universe, on the internet and IRL, 2016&ndash;2017.</li>
                    <li><a href="https://www.geologicaltime.net/" target="_blank"><em>geologicaltime.net</em></a>: step into the river as often as you want, 2016.</li>
                    <li><a href="http://www.papermag.com/artist-diary-elisabeth-nicula-1936476814.html" target="_blank">My diary about <em>Aspects of Geological Time</em></a> for <em>Paper Magazine</em>, 2016.</li>
                    <li><a href="sense-memories.html"><em>Sense Memories</em></a>, 2015&ndash;2016.</li>
                    <li>I made cut- and fold-your-own GIFs for <a href="http://www.livingroomlightexchange.com/publication/" target="_blank"><em>LRLX 01</em></a>, 2015.</li>
                    <li><a href="predictions.html"><em>Predictions</em></a> are landscapes for bunker living, commissioned by Electric Objects, 2016.</li>
                    <li><a href="where.html"><em>Where</em></a> is a series of woodcuts and animations about distance, 2014&ndash;2015.</li>
                    <li><a href="{{ site.baseurl }}/newhive.html">This is all the work I made on Newhive</a>, 2013&ndash;2017.</li>
                    <!--<li><a href="containers.html"><em>Containers</em></a></li>-->
                    <li><a href="https://abjectsubli.me/" target="_blank"><em>abjectsubli.me</em></a> is a blog.</li>
                    <li><a href="about.html">CV &amp; Contact</a>.</li>
                    
                </ul>
            </nav>
  </div> <!-- /canvas -->
    {% include scripts.html %}
    </body>
</html>
