---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // interdisciplinary artist</title>
    	{% include meta.html %}
    </head>
    <body class="index-gradient">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
            <h1 class="hidden">Elisabeth Nicula // interdisciplinary artist</h1>
            <nav class="index">
                <ul>
                    <li><a href="index.html">Elisabeth Nicula</a></li>
                    <li><a href="https://dioramas.space/" target="_blank">dioramas.space</a></li>
                    <li><a href="dioramas.html">Dioramas at Black &amp; White Projects</a></li>
                    <li><a href="https://openspace.sfmoma.org/2017/10/dioramas/" target="_blank">"Dioramas" for SFMOMA's <em>Open Space</em></a></li>
                    <li><a href="http://silicamag.com/gallery/california" target="_blank">"California" for <em>Silica Magazine</em></a></li>
                    <li><a href="manifesto.html">Naturegifmanifesto</a></li>
                    <li><a href="geological-time.html">Aspects of Geological Time</a></li>
                    <li><a href="https://www.geologicaltime.net/" target="_blank">geologicaltime.net</a></li>
                    <li><a href="http://www.papermag.com/artist-diary-elisabeth-nicula-1936476814.html" target="_blank">"Artist Diary" for <em>Paper Magazine</em></a></li>
                    <li><a href="sense-memories.html">Sense Memories</a></li>
                    <li><a href="http://www.livingroomlightexchange.com/publication/" target="_blank"><em>LRLX Publication 01</em> and <em>02</em></a></li>
                    <li><a href="predictions.html">Predictions for Electric Objects</a></li>
                    <li><a href="where.html">Where</a></li>
                    <li><a href="http://newhive.com/elisabeth" target="_blank">Newhive</a> <span style="color:#fff;">&</span> <a href="{{ site.baseurl }}/newhive.html">Newhive Archive</a></li>
                    <!--<li><a href="containers.html"><em>Containers</em></a></li>-->
                    <li><a href="about.html">CV &amp; Contact</a></li>
                    <li><a href="news.html">News</a></li>
                    <!--<li><a href="https://www.instagram.com/elisabethnicula/" target="_blank">Instagram</a></li>-->
                    
                </ul>
            </nav>
            <footer><p class="credit"><em><a href="https://dioramas.space/9.html" target="_blank">dioramas.space 9</a></em></p></footer>    		      	
  </div> <!-- /canvas -->
    {% include scripts.html %}
    <img style="position: fixed; display: block; opacity: 0.5; width: 100%; bottom: 0; z-index: -50;" src="img/9.gif">
    </body>
</html>
