---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // NATUREGIFMANIFESTO</title>
    	{% include meta.html %}
    </head>
    <body class="manifesto">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
        {% include header.html %}

<ul class="folio"><li class="one"><img style="object-fit: none; opacity: .8; z-index: -300; height: 350px;" src="{{ site.baseurl }}/img/manifesto.gif" alt="manifesto" width="300" height="307" /></li></ul>

<div class="text" style="color: #fff;"><h2 class="no-underline">NATUREGIFMANIFESTO</h2>  

<p>What is the value of examining something carefully if not scientifically? 
Can those observations lead to something concrete? Can they facilitate 
a willingness to address frightening things straight on?</p>

<p>Climate scientists and some of the rest of us feel despair because of the 
vastness of our self-sabotage, the insufficiency of our attention, and the 
impossibility of stewarding the land and sea without seeing it.</p> 

<p>Amidst diminishing supply, look closer or longer until you see. Look at a 
rock from all angles until it re-forms in your mind. Use a microscope to 
look at a cell, spare and utile. Walk to the top of a hill and see what's at 
your feet and what's in the distance. Look farther until you see. Use a 
telescope to look at the moon, so expansive it fills the lens. Relax your 
eyes until shapes clarify. Notice the products of all your senses and 
whether those products have value outside of your consumption. 
Document this. A mole-rat conducts her business in the dark.</p> 

<p>By seeing something from every angle I come to understand its meaning. 
I work around the edge if it's too bold or alarming to take in all at once.</p> 

<p>It's comforting and appropriate to be a small part of a boundless system. 
The system is a reminder that you exist. Reminders are good because 
people expect you to forget yourself.</p> 

<p>The act of observation inserts a separation between the self and nature, 
protecting nature. Observation inserts nature between the self and the 
unknown, protecting the self.</p> 

<p>I'm not embarrassed to love nature, wild animals, and plants. I love them 
as individuals and as ideals. There is no hierarchy of creatures. There is 
no hierarchy of rocks, water, air, and skin.</p> 

<p>Listen to the earth speak about her lived experience.</p> 

<p>Repeat this step until you hear and believe.</p> 

<p>Repeat this step until you can act without causing harm.</p> 

<p>It shouldn't be a privilege to spend time with nature but it is. The only 
place I've met a climate change denier face-to-face is Norfolk, Virginia, 
my beautiful sinking hometown. If I don't pay attention, how will I know 
when I'm underwater?</p> 

<p>I thought a sense of place was the American way. Who makes war on the 
National Park Service? A monkey wrench turns and is itself turned. It is a 
tool that can be used for protection. Since time is infinitely divisible, it 
must be possible to experience something infinitely too. I know this is 
counterintuitive but it's a good coping mechanism. Think of the scales of 
time and space in the round, endless.</p>

<p class="footnote">NATUREGIFMANIFESTO was originally published in 2017 in <span class="italic"><a href="http://www.livingroomlightexchange.com/publication/" target="_blank">State Change: LRLX Publication 002</a></span>.</p>

</div>
	  			
<ul class="folio"><li class="one"><img style="object-fit: none; height: 350px;" src="{{ site.baseurl }}/img/manifesto-forest.gif" alt="manifesto" width="75" height="75" /></li></ul>
	  				  			      	
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>
