---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // NEWHIVE ARCHIVE</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
        {% include header.html %}
        
        <h2 class="text">Work made at <a href="https://en.wikipedia.org/wiki/NewHive" target="_blank">Newhive</a> from 2013 to 2017.</h2>
	  		
	  			<ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/frank/"><img src="{{ site.baseurl }}/newhive/elisabeth/frank/snapshot.jpeg" width="715" height="430" /><h3>frank</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/frank2/"><img src="{{ site.baseurl }}/newhive/elisabeth/frank2/snapshot.jpeg" width="715" height="430" /><h3>frank 2</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/manifesto/"><img src="{{ site.baseurl }}/newhive/elisabeth/manifesto/snapshot.jpeg" width="715" height="430" /><h3>naturegifmanifesto</h3></a></li></ul>
	  			
	  			<ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/elsewhere-1/"><img src="{{ site.baseurl }}/newhive/elisabeth/elsewhere-1/snapshot.jpeg" width="715" height="430" /><h3>Elsewhere Whereelse 1</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/elsewhere-2/"><img src="{{ site.baseurl }}/newhive/elisabeth/elsewhere-2/snapshot.jpeg" width="715" height="430" /><h3>Elsewhere Whereelse 2</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/elsewhere-3/"><img src="{{ site.baseurl }}/newhive/elisabeth/elsewhere-3/snapshot.jpeg" width="715" height="430" /><h3>Elsewhere Whereelse 3</h3></a></li></ul>
                    
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/fig-1/"><img src="{{ site.baseurl }}/newhive/elisabeth/fig-1/snapshot.jpeg" width="715" height="430" /><h3>Aspects of Geological Time (fig. 1)</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/fig-2/"><img src="{{ site.baseurl }}/newhive/elisabeth/fig-2/snapshot.jpeg" width="715" height="430" /><h3>Aspects of Geological Time (fig. 2)</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/fig-3/"><img src="{{ site.baseurl }}/newhive/elisabeth/fig-3/snapshot.jpeg" width="715" height="430" /><h3>Aspects of Geological Time (fig. 3)</h3></a></li></ul>
                    
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/fig-4/"><img src="{{ site.baseurl }}/newhive/elisabeth/fig-4/snapshot.jpeg" width="715" height="430" /><h3>Aspects of Geological Time (fig. 4)</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/fig-5/"><img src="{{ site.baseurl }}/newhive/elisabeth/fig-5/snapshot.jpeg" width="715" height="430" /><h3>Aspects of Geological Time (fig. 5)</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/fig-6/"><img src="{{ site.baseurl }}/newhive/elisabeth/fig-6/snapshot.jpeg" width="715" height="430" /><h3>Aspects of Geological Time (fig. 6)</h3></a></li></ul>
                    
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/fig-7/"><img src="{{ site.baseurl }}/newhive/elisabeth/fig-7/snapshot.jpeg" width="715" height="430" /><h3>Aspects of Geological Time (fig. 7)</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/geologicaltimedotnet/"><img src="{{ site.baseurl }}/newhive/elisabeth/geologicaltimedotnet/snapshot.jpeg" width="715" height="430" /><h3>geologicaltimedotnet</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/afterword/"><img src="{{ site.baseurl }}/newhive/elisabeth/afterword/snapshot.jpeg" width="715" height="430" /><h3>geologicaltimedotnet afterword</h3></a></li></ul>
                    
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/time-to-go/"><img src="{{ site.baseurl }}/newhive/elisabeth/time-to-go/snapshot.jpeg" width="715" height="430" /><h3>Time To Go</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/appendix-1/"><img src="{{ site.baseurl }}/newhive/elisabeth/appendix-1/snapshot.jpeg" width="715" height="430" /><h3>geologicaltimedotnet appendix 1</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/language/"><img src="{{ site.baseurl }}/newhive/elisabeth/language/snapshot.jpeg" width="715" height="430" /><h3>Visions / They Had Language</h3></a></li></ul>
                    
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/sentient/"><img src="{{ site.baseurl }}/newhive/elisabeth/sentient/snapshot.jpeg" width="715" height="430" /><h3>Visions / Sentient Creatures</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/water-on-earth/"><img src="{{ site.baseurl }}/newhive/elisabeth/water-on-earth/snapshot.jpeg" width="715" height="430" /><h3>Visions / Discovery of Water on Earth</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/any-time-is-train-time/"><img src="{{ site.baseurl }}/newhive/elisabeth/any-time-is-train-time/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Any Time Is Train Time</h3></a></li></ul>
                    
                
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/icarus/"><img src="{{ site.baseurl }}/newhive/elisabeth/icarus/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Icarus</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/road/"><img src="{{ site.baseurl }}/newhive/elisabeth/road/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Along The Road</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/tipping/"><img src="{{ site.baseurl }}/newhive/elisabeth/tipping/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Tipping Point</h3></a></li></ul>
                
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/then-now/"><img src="{{ site.baseurl }}/newhive/elisabeth/then-now/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Then and Then and Then and Now</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/crevasse/"><img src="{{ site.baseurl }}/newhive/elisabeth/crevasse/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Crevasse</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/deep-enough/"><img src="{{ site.baseurl }}/newhive/elisabeth/deep-enough/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Deep Enough</h3></a></li></ul>
                
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/teeth/"><img src="{{ site.baseurl }}/newhive/elisabeth/teeth/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Teeth</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/where-were-you/"><img src="{{ site.baseurl }}/newhive/elisabeth/where-were-you/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Where Were You</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/sticks-and-stones/"><img src="{{ site.baseurl }}/newhive/elisabeth/sticks-and-stones/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Sticks And Stones</h3></a></li></ul>
                    
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/memories/"><img src="{{ site.baseurl }}/newhive/elisabeth/memories/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / All These Processed Memories</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/day-one/"><img src="{{ site.baseurl }}/newhive/elisabeth/day-one/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Day One</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/day-two/"><img src="{{ site.baseurl }}/newhive/elisabeth/day-two/snapshot.jpeg" width="715" height="430" /><h3>Sense Memories / Day Two</h3></a></li></ul>
                
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/---phase-3/"><img src="{{ site.baseurl }}/newhive/elisabeth/---phase-3/snapshot.jpeg" width="715" height="430" /><h3>&mdash;&mdash;&mdash;(phase 3)</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/where-our-stories-differ/"><img src="{{ site.baseurl }}/newhive/elisabeth/where-our-stories-differ/snapshot.jpeg" width="715" height="430" /><h3>Where Our Stories Differ</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/spacious-planes/"><img src="{{ site.baseurl }}/newhive/elisabeth/spacious-planes/snapshot.jpeg" width="715" height="430" /><h3>Spacious Planes (Sounds by P. Teichman)</h3></a></li></ul>
                
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/straight-narrow/"><img src="{{ site.baseurl }}/newhive/elisabeth/straight-narrow/snapshot.jpeg" width="715" height="430" /><h3>Straight&Narrow</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/concrete/"><img src="{{ site.baseurl }}/newhive/elisabeth/concrete/snapshot.jpeg" width="715" height="430" /><h3>Concrete</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/like-such-as-seen-on-television/"><img src="{{ site.baseurl }}/newhive/elisabeth/like-such-as-seen-on-television/snapshot.jpeg" width="715" height="430" /><h3>Like Such As Seen On Television</h3></a></li></ul>
                    
                <ul class="folio arhive">
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/where/"><img src="{{ site.baseurl }}/newhive/elisabeth/where/snapshot.jpeg" width="715" height="430" /><h3>Where</h3></a></li>
      				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/time-traffic/"><img src="{{ site.baseurl }}/newhive/elisabeth/time-traffic/snapshot.jpeg" width="715" height="430" /><h3>Time Traffic</h3></a></li>
                    <li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/cement-x-13/"><img src="{{ site.baseurl }}/newhive/elisabeth/cement-x-13/snapshot.jpeg" width="715" height="430" /><h3>Cementx13</h3></a></li></ul>
      	
      	{% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>

<!--

https://elisabethnicula.com/newhive/elisabeth/where
https://elisabethnicula.com/newhive/elisabeth/time-traffic
https://elisabethnicula.com/newhive/elisabeth/cement-x-13
-->

