---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // NEWS</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
		{% include header.html %} 
			<div class="text">
				<h2>News</h2>
				<br>
				<h3>Subscribe</h3>
				 <form style="padding:3px;text-align:left;" action="https://tinyletter.com/elisabethnicula" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/elisabethnicula', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your address for infrequent emails about exhibitions, publications, open studios, public talks, etc.</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p></form>
				 
				 <h3><a href="https://tinyletter.com/elisabethnicula/archive" target="_blank">Archive</a></h3>
				 <p><a href="https://tinyletter.com/elisabethnicula/letters/open-studios-this-weekend-rhizome-grant-upcoming-talk" target="_blank">November 09, 2018 // open studios! // rhizome grant! // lrlx talk!</a></p>
				 <p><a href="https://tinyletter.com/elisabethnicula/letters/black-white-projects-this-friday-open-studios-in-a-few-weeks" target="_blank">March 14, 2018 // Black & White Projects anniversary show</a></p>
				 <p><a href="https://tinyletter.com/elisabethnicula/letters/sfmoma-open-space-gif-essay-open-studios-this-weekend-peephole-cinema" target="_blank">November 8, 2017 // "Dioramas" SFMOMA Open Space // Peephole Cinema</a></p>
				 <p><a href="https://tinyletter.com/elisabethnicula/letters/closing-party-at-black-white-projects-tomorrow-california-for-silicamag" target="_blank">May 31, 2017 // Black & White Projects solo show closing // "California" for Silicamag</a></p>
				 <p><a href="https://tinyletter.com/elisabethnicula/letters/black-white-projects-residency-show-opens-this-friday-i-e-tomorrow" target="_blank">May 18, 2017 // Black & White Projects residency</a></p>

				<!--<h2>News</h2>
				
				<p class="date">March 2016</p>
				<h3>Sense Memories at <a href="http://www.proartsgallery.org/event/elisabeth-nicula-from-sense-memories/" target="_blank">Pro Arts Gallery</a> // Electric Objects Interview</h3>
							<p><a href="http://newhive.com/elisabeth/collection/sense-memory" target="_blank"><em>Sense Memories</em></a> are on view in the <a href="http://www.proartsgallery.org/event/elisabeth-nicula-from-sense-memories/" target="_blank">Project Space</a> at <a href="http://www.proartsgallery.org/" target="_blank">Pro Arts Gallery</a> in Oakland through April 9 as part of <a href="http://www.proartsgallery.org/event/sl-morse-presents-the-myth-of-sisyphus-by-albert-camus/" target="_blank">Hybrid Series</a>.</p>
							<p>Electric Objects <a href="http://zine.electricobjects.com/interviews/elisabeth-nicula" target="_blank">interviewed me</a> in conjunction with the release of my Art Club collection, <a href="https://www.electricobjects.com/collections/68" target="_blank"><em>Predictions</em></a>.</p>
				
				
				<p class="date">February 2016</p>
				<h3><a href="https://www.electricobjects.com/collections/68" target="_blank">Electric Objects</a> Art Club</h3>
				<p>Electric Objects commissioned this <a href="https://www.electricobjects.com/collections/68" target="_blank">Art Club collection</a> for the <a href="http://shop.electricobjects.com/" target="_blank">EO1</a>, their internet-connected display for digital art. <em><a href="https://www.electricobjects.com/collections/68" target="_blank">Predictions</a></em> are still and video works that confront the future of the landscape. I thought of bunker life and the view through a clouded window; appreciating natural resources in memoriam; and how we might adorn our homes amidst altered and damaged wild places.</p>
				<p class="date">November 2015</p>
				<h3>#futureart</h3>
				<p>My sense memory <a href="http://newhive.com/elisabeth/tipping" target="_blank"><em>A Tipping Point</em></a> won Newhive and <a href="http://fusion.net/" target="_blank">Fusion's</a> #futureart open call, and was exhibited here in SF at the <a href="http://realfuturefair.com/" target="_blank">Real Future Fair</a>.</p>
				<p class="date">November 2015</p>
				<h3>Winterfest Art Show</h3>
				<p>I donated a vaguely street-themed woodcut to the San Francisco Bicycle Coalition for their <a href="https://www.sfbike.org/winterfest/" target="_blank">Winterfest Art Show and Auction</a>, which raised nearly $10,000 for better biking in San Francisco.</p>
				<p class="date">October 2015</p>
				<h3><a href="http://www.2blocksofart.org/" target="_blank">2 Blocks of Art</a></h3>
				<p>I'm excited to be a part of this year's Sixth Street art walk, showing my woodcuts alongside painters Christian Davies and David Fiveash  at 66 Sixth. <a href="http://www.2blocksofart.org/uploads/3/7/5/4/37548447/art_walk_map_2015_final.pdf" target="_blank">Get the map</a>.</p>-->
							
							
			</div>
    {% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>