---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // NEWS</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
		{% include header.html %} 
			<div class="text">
				<h2>Newsletter</h2>
				<!-- <p>Sign up to receive occasional emails about shows, open studios, and other events.</p> -->
				<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
					<div id="mc_embed_signup">
						<form action="//elisabethnicula.us11.list-manage.com/subscribe/post?u=2038845eb54051a24c96ebae3&amp;id=b0b1128c32" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll">
	
								<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2038845eb54051a24c96ebae3_b0b1128c32" tabindex="-1" value=""></div>
								<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							</div>
						</form>
					</div>
<!--End mc_embed_signup-->
				<h2>News</h2>
				
				<p class="date">March 2016</p>
				<h3>Sense Memories at <a href="http://www.proartsgallery.org/event/elisabeth-nicula-from-sense-memories/" target="_blank">Pro Arts Gallery</a> // Electric Objects Interview</h3>
							<p><a href="http://newhive.com/elisabeth/collection/sense-memory" target="_blank"><em>Sense Memories</em></a> are on view in the <a href="http://www.proartsgallery.org/event/elisabeth-nicula-from-sense-memories/" target="_blank">Project Space</a> at <a href="http://www.proartsgallery.org/" target="_blank">Pro Arts Gallery</a> in Oakland through April 9 as part of <a href="http://www.proartsgallery.org/event/sl-morse-presents-the-myth-of-sisyphus-by-albert-camus/" target="_blank">Hybrid Series</a>.</p>
							<p>Electric Objects <a href="http://zine.electricobjects.com/interviews/elisabeth-nicula" target="_blank">interviewed me</a> in conjunction with the release of my Art Club collection, <a href="https://www.electricobjects.com/collections/68" target="_blank"><em>Predictions</em></a>.</p>
				
				
				<p class="date">February 2016</p>
				<h3><a href="https://www.electricobjects.com/collections/68" target="_blank">Electric Objects</a> Art Club</h3>
				<p>Electric Objects commissioned this <a href="https://www.electricobjects.com/collections/68" target="_blank">Art Club collection</a> for the <a href="http://shop.electricobjects.com/" target="_blank">EO1</a>, their internet-connected display for digital art. <em><a href="https://www.electricobjects.com/collections/68" target="_blank">Predictions</a></em> are still and video works that confront the future of the landscape. I thought of bunker life and the view through a clouded window; appreciating natural resources in memoriam; and how we might adorn our homes amidst altered and damaged wild places.</p>
				<p class="date">November 2015</p>
				<h3>#futureart</h3>
				<p>My sense memory <a href="http://newhive.com/elisabeth/tipping" target="_blank"><em>A Tipping Point</em></a> won Newhive and <a href="http://fusion.net/" target="_blank">Fusion's</a> #futureart open call, and was exhibited here in SF at the <a href="http://realfuturefair.com/" target="_blank">Real Future Fair</a>.</p>
				<p class="date">November 2015</p>
				<h3>Winterfest Art Show</h3>
				<p>I donated a vaguely street-themed woodcut to the San Francisco Bicycle Coalition for their <a href="https://www.sfbike.org/winterfest/" target="_blank">Winterfest Art Show and Auction</a>, which raised nearly $10,000 for better biking in San Francisco.</p>
				<p class="date">October 2015</p>
				<h3><a href="http://www.2blocksofart.org/" target="_blank">2 Blocks of Art</a></h3>
				<p>I'm excited to be a part of this year's Sixth Street art walk, showing my woodcuts alongside painters Christian Davies and David Fiveash  at 66 Sixth. <a href="http://www.2blocksofart.org/uploads/3/7/5/4/37548447/art_walk_map_2015_final.pdf" target="_blank">Get the map</a>.</p>
							
							
			</div>
    {% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>