---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // SENSE MEMORIES</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
        {% include header.html %}
        	<div class="text">
        	    <h2>Sense Memories, 2015&ndash;2016</h2>
        	    <h3>Exhibited at <a href="https://proartsgallery.org/event/elisabeth-nicula-from-sense-memories/" target="_blank">Pro Arts Gallery</a>, Oakland, CA <span style="color: #ff14f6;"> /</span> City Arts Gallery at CCSF, San Francisco, CA <span style="color: #ff14f6;"> /</span> and <a href="https://twitter.com/therealfuture" target="_blank">Real Future Fair</a>, San Francisco, CA <span style="color: #ff14f6;"> /</span> Webpages on <a href="{{ site.baseurl }}/newhive.html" target="_blank">Newhive</a> (archived)</h3>
        	    <p>I searched my hard drive and phone for snapshots, treating my digital stash as a source of found objects &mdash; discrete, frozen moments remembered by the device. My memories are imperfect but exist in the fullness of an inner life. The GIF animations visualize these abstracted memories. Turning the webpages into screen prints felt like going full circle on the theme. Halftone dots and even borders recall newspaper photography and polaroids, and reworking the animated elements into still drawings froze them in time again.</p></div>
	  			
	  			<ul class="folio">
	  				<li class="one">
	  				  <a href="{{ site.baseurl }}/newhive/elisabeth/crevasse/"><img src="{{ site.baseurl }}/img/sm-crevasse.gif" alt="Crevasse" width="800" height="450" /></a>
	  				  <p class="slide-caption"><a href="{{ site.baseurl }}/newhive/elisabeth/crevasse/"><em>Crevasse</em></a></p>
	  				 </li>
	  			</ul>
	  			
	  			<ul class="folio">
	  				<li class="one">
	  				<a href="{{ site.baseurl }}/newhive/elisabeth/any-time-is-train-time/"><img src="{{ site.baseurl }}/img/sm-train.gif" alt="Sense Memory Any Time Is Train Time" width="800" height="457" /></a>
	  				<p class="slide-caption"><a href="{{ site.baseurl }}/newhive/elisabeth/any-time-is-train-time/"><em>Any Time Is Train Time</em></a></p></li>
	  			</ul>
	  			
	  			<ul class="folio">
	  				<li class="one"><img src="{{ site.baseurl }}/img/sm-crevasse.jpg" alt="Sense Memory Crevasse" width="800" height="589" /><p class="slide-caption"><em>Crevasse</em>, 2016, screenprint, 15" x 11"</p></li>
	  			</ul>
	  			
        		
        		<ul class="folio">
      		    	<li class="two"><a href="{{ site.baseurl }}/newhive/elisabeth/road/"><img src="{{ site.baseurl }}/img/sm-road.gif" alt="Sense Memory Along the Road" width="800" height="800" /></a>
      		    	<p class="slide-caption"><a href="{{ site.baseurl }}/newhive/elisabeth/road/"><em>Along the Road</em></a></p></li>
	  				<li class="two"><a href="{{ site.baseurl }}/newhive/elisabeth/tipping/"><img src="{{ site.baseurl }}/img/sm-tipping.gif" alt="Sense Memory A Tipping Point" width="800" height="800" /></a>
	  				<p class="slide-caption"><a href="{{ site.baseurl }}/newhive/elisabeth/tipping/"><em>A Tipping Point</em></a></p></li>
	  			</ul>
	  			
	  			<ul class="folio">
      				<li class="three">
      				<a href="{{ site.baseurl }}/newhive/elisabeth/deep-enough/"><img src="{{ site.baseurl }}/img/sm-deep.gif" alt="Sense Memory Deep Enough" width="800" height="800" /></a>
      				<p class="slide-caption"><a href="{{ site.baseurl }}/newhive/elisabeth/deep-enough/"><em>Deep Enough</em></a></p></li>
      				
      				<li class="three">
      				<a href="{{ site.baseurl }}/newhive/elisabeth/then-now/"><img src="{{ site.baseurl }}/img/sm-then.gif" alt="Sense Memory Then and Then and Then and Now" width="800" height="800" /></a>
      				<p class="slide-caption"><a href="{{ site.baseurl }}/newhive/elisabeth/then-now/"><em>Then and Then and Then and Now</em></a></p></li>
	  				
	  				<li class="three"><a href="{{ site.baseurl }}/newhive/elisabeth/icarus/"><img src="{{ site.baseurl }}/img/sm-icarus.gif" alt="Sense Memory Icarus" width="800" height="800" /></a>
	  				<p class="slide-caption"><a href="{{ site.baseurl }}/newhive/elisabeth/icarus/"><em>Icarus</em></a></p></li>
	  			</ul>
	  			
	  			<ul class="folio">
      		    	<li class="two">
      		    	<img src="{{ site.baseurl }}/img/sm-train.jpg" alt="Sense Memory Any Time Is Train Time" width="800" height="589" />
      		    	<p class="slide-caption"><em>Any Time Is Train Time</em>, 2016, screenprint, 15" x 11"</p></li>
	  				<li class="two">
	  				<img src="{{ site.baseurl }}/img/sm-tipping.jpg" alt="Sense Memory Tipping Point" width="800" height="583" />
	  				<p class="slide-caption"><em>A Tipping Point</em>, 2016, screenprint, 15" x 11"</p></li>
	  			</ul>	  			
	  			      	
      	{% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>
