---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // SENSE MEMORIES</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
        {% include header.html %}
        	<div class="text"><p>See all of my sense memories <a href="http://newhive.com/elisabeth/collection/sense-memory" target="_blank">on Newhive</a>.</p></div>
        		<ul class="folio">
	  				<li class="one"><a href="http://newhive.com/elisabeth/crevasse" target="_blank"><img src="{{ site.baseurl }}/img/nh-crevasse.gif" alt="Crevasse" width="800" height="450" /><p class="slide-caption"><em>Crevasse</em></p></a></li>
	  			</ul>
	  			
	  			<ul class="folio">
	  				<li class="two"><a href="http://newhive.com/elisabeth/any-time-is-train-time" target="_blank"><img src="{{ site.baseurl }}/img/nh-train.gif" alt="Sense Memory Any Time Is Train Time" width="800" height="457" /><p class="slide-caption"><em>Any Time Is Train Time</em></p></a></li>
	  			</ul>
        		
        		<ul class="folio">
      		    	<li class="two"><a href="http://newhive.com/elisabeth/road/" target="_blank"><img src="{{ site.baseurl }}/img/nh-road.gif" alt="Sense Memory Along the Road" width="800" height="800" /><p class="slide-caption"><em>Along the Road</em></p></a></li>
	  				<li class="two"><a href="http://newhive.com/elisabeth/tipping" target="_blank"><img src="{{ site.baseurl }}/img/nh-tipping.gif" alt="Sense Memory A Tipping Point" width="800" height="800" /><p class="slide-caption"><em>A Tipping Point</em></p></a></li>
	  			</ul>
        		
        		<ul class="folio">
	  				<li class="one"><a href="http://newhive.com/elisabeth/where-were-you" target="_blank"><img src="{{ site.baseurl }}/img/nh-where.gif" alt="Sense Memory Where Were You" width="800" height="450" /><p class="slide-caption"><em>Where Were You</em></p></a></li>
	  			</ul>
      		
	  			<ul class="folio">
      				<li class="two"><a href="http://newhive.com/elisabeth/day-one" target="_blank"><img src="{{ site.baseurl }}/img/nh-day1.gif" alt="Sense Memory Day One" width="800" height="800" /><p class="slide-caption"><em>Day One</em></p></a></li>
	  				<li class="two"><a href="http://newhive.com/elisabeth/day-two" target="_blank"><img src="{{ site.baseurl }}/img/nh-day2.gif" alt="Sense Memory Day Two" width="800" height="800" /><p class="slide-caption"><em>Day Two</em></p></a></li>
	  			</ul>
	  			
	  			<ul class="folio">
      				<li class="three"><a href="http://newhive.com/elisabeth/deep-enough" target="_blank"><img src="{{ site.baseurl }}/img/nh-deep.gif" alt="Sense Memory Deep Enough" width="800" height="800" /><p class="slide-caption"><em>Deep Enough</em></p></a></li>
      				<li class="three"><a href="http://newhive.com/elisabeth/then-now" target="_blank"><img src="{{ site.baseurl }}/img/nh-then.gif" alt="Sense Memory Then and Then and Then and Now" width="800" height="800" /><p class="slide-caption"><em>Then and Then and Then and Now</em></p></a></li>
	  				<li class="three"><a href="http://newhive.com/elisabeth/icarus" target="_blank"><img src="{{ site.baseurl }}/img/nh-icarus.gif" alt="Sense Memory Icarus" width="800" height="800" /><p class="slide-caption"><em>Icarus</em></p></a></li>
	  			</ul>
	  			      	
      	{% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>
