<header>
	<h1 class="hidden">Elisabeth Nicula // multidisciplinary artist</h1>
	<nav><a href="index.html">Elisabeth Nicula</a> <span style="color:#2700ff;">//</span>
	<a href="dioramas.html">Dioramas</a> <span style="color:#2700ff;">/</span>
	<a href="https://openspace.sfmoma.org/2017/10/dioramas/" target="_blank">"Dioramas" for SFMOMA's <em>Open Space</em></a> <span style="color:#2700ff;">/</span>
	<a href="http://silicamag.com/gallery/california" target="_blank">California</a> <span style="color:#2700ff;">/</span> 
	<a href="https://newhive.com/elisabeth/manifesto" target="_blank">manifesto</a> <span style="color:#2700ff;">/</span>
	<a href="geological-time.html">Aspects of Geological Time</a> <span style="color:#2700ff;">/</span>
    <a href="https://www.geologicaltime.net/" target="_blank">geologicaltime.net</a> <span style="color:#2700ff;">/</span>
    <a href="http://www.papermag.com/artist-diary-elisabeth-nicula-1936476814.html" target="_blank">Artist Diary</a> <span style="color:#2700ff;">/</span>
    <a href="sense-memories.html">Sense Memories</a> <span style="color:#2700ff;">/</span>
    <a href="http://www.livingroomlightexchange.com/publication/" target="_blank">LRLX</a> <span style="color:#2700ff;">/</span> 
	<a href="predictions.html">Predictions</a> <span style="color:#2700ff;">/</span> 
	<a href="where.html">Where</a> <span style="color:#2700ff;">/</span> 
	<!--<a href="containers.html">Containers</a> <span style="color:#2700ff;">/</span>--> 
	<a href="about.html">CV &amp; Contact</a> <span style="color:#2700ff;">/</span> 
	<a href="news.html">Newsletter</a> <span style="color:#2700ff;">/</span> 
	<!--<a href="http://elisabethnicula.tumblr.com/" target="_blank">Tumblr</a> <span style="color:#2700ff;">/</span> --> 
	<a href="https://www.instagram.com/elisabethnicula/" target="_blank">Instagram</a> <span style="color:#2700ff;">/</span> 
	<a href="http://newhive.com/elisabeth" target="_blank">Newhive</a></nav>
</header> 