<header>
	<h1 class="hidden">Elisabeth Nicula // interdisciplinary artist</h1>
	<nav>
	<a href="{{ site.baseurl }}/index.html">Elisabeth Nicula</a> //
    <a href="https://dioramas.space/" target="_blank">dioramas.space &rarr;</a> /
	<a href="{{ site.baseurl }}/dioramas.html">Dioramas (installation)</a> /
	<a href="{{ site.baseurl }}/manifesto.html">NATUREGIFMANIFESTO</a> /
	<a href="{{ site.baseurl }}/geological-time.html">Aspects of Geological Time</a> /
    <a href="https://www.geologicaltime.net/" target="_blank">geologicaltime.net &rarr;</a> /
    <a href="{{ site.baseurl }}/sense-memories.html">Sense Memories</a> /
	<a href="{{ site.baseurl }}/predictions.html">Predictions</a> / 
	<a href="{{ site.baseurl }}/where.html">Where</a> / 
    <a href="{{ site.baseurl }}/newhive.html">Newhive Archive</a> /
    <a href="https://abjectsubli.me/" target="_blank">abjectsubli.me &rarr;</a> /
	<a href="{{ site.baseurl }}/about.html">CV &amp; Contact</a>
	</nav>
</header> 