---
---
<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>ELISABETH NICULA // CONTAINERS</title>
    	{% include meta.html %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="canvas" class="clearfix">
        {% include header.html %}
			<div class="text"><h2>Containers, 2011&ndash;2012</h2><p>Intaglio and relief prints.</p></div>
      		
      			<ul class="folio">
      		    	<li class="three"><img src="{{ site.baseurl }}/img/slide-waysandmeans.jpg" alt="Ways and Means" width="500" height="419" /><p class="slide-caption"><em>Ways and Means</em><br />2011, two-color etching with aquatint, 8.5" x 7.25"</p></li>
	  				<li class="three"><img src="{{ site.baseurl }}/img/slide-untitled1.jpg" alt="(Untitled)" width="500" height="403" /><p class="slide-caption"><em>(Untitled)</em><br />2012, woodcut, 10" x 8"</p></li>
	  				<li class="three"><img src="{{ site.baseurl }}/img/slide-weightsandmeasures.jpg" alt="Weights and Measures" width="500" height="373" /><p class="slide-caption"><em>Weights and Measures</em><br />2011, etching with aquatint, 8" x 6"</p></li>
	  				</ul>
	  			      	
      	{% include footer.html %}
  </div> <!-- /canvas -->
    {% include scripts.html %} 
    </body>
</html>
